<div class="canvas-group">
    <div class="canvas-container">
        <div class="behind-canvas">
            <ng-content></ng-content>
        </div>
        <canvas #canvas class="canvas"></canvas>
    </div>
    <div class="canvas-tools">
        @if (drawingModes().length!==1) {
        <mat-form-field>
            <mat-label>Draw Mode</mat-label>
            <mat-select value="{{selectedDrawingMode()}}" (selectionChange)="setDrawingMode($event.value)">
                @for (item of drawingModes(); track $index) {
                <mat-option value="{{item.value}}">{{item.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        @if (drawingTypes().length!==1) {
        <mat-form-field>
            <mat-label>Drawing Type</mat-label>
            <mat-select value="{{selectedDrawingType()}}" (selectionChange)="setDrawingType($event.value)">
                @for (item of drawingTypes(); track $index) {
                <mat-option value="{{item.value}}">{{item.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        @if (_selectedDrawingType === 'line' || _selectedDrawingType === 'freehand') {
        <mat-slider min="2" max="50">
            <input matSliderThumb value="{{lineWidth()}}" (valueChange)="setLineWidth($event)">
        </mat-slider>
        }

        @if (drawingColors().length!==1) {
        <mat-form-field>
            <mat-label>Color Picker</mat-label>
            <mat-select value="{{selectedDrawingColor()}}" (selectionChange)="setDrawingColor($event.value)">
                @for (item of drawingColors(); track $index) {
                <mat-option value="{{item.value}}">{{item.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        @if (showGridOption() && gridSizes().length!==1) {
        <mat-form-field>
            <mat-label>Grid Size</mat-label>
            <mat-select value="{{selectedGridSize()}}" (selectionChange)="setGridSize($event.value)">
                @for (item of gridSizes(); track $index) {
                <mat-option value="{{item}}">{{item}}x{{item}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }

        @if (showGridOption()) {
        <mat-checkbox id="showGrid" checked="{{showGrid()}}" (change)="setShowGrid($event.checked)">
            Show Grid
        </mat-checkbox>
        }

        <button mat-raised-button (click)="cancelDrawing()">Cancel</button>
        <button mat-raised-button (click)="clearCanvas()">Clear</button>
        <button mat-raised-button (click)="saveCanvas()">Save</button>
    </div>
</div>